* {
    margin: 0;
    padding: 0;
}

:root {
    --cor--primaria: "black";
    --cor--fonte: "white";

}


body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.apresentacao__main__cabecalho {
    border: solid
}