@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor--primaria: "black";
    --cor--fonte: "white";
    --fonte--comum: "Chakra Petch", sans-serif;

}


body {
    background-color: black;
    color: white;
    font-family: var(--fonte--comum);
    margin-bottom: 100px;
}
p {
    font-size: 20px;
}

.cabecalho {
    font-weight: lighter;
    font-size: 32px;
    font-family: var(--fonte--comum);
    color: rgb(42, 122, 228);
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
}

.chamada {
    gap: 2.8rem;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: rgb(184, 156,213);
    font-size: 2.22rem;
    display: flex;
    justify-content:center;
}
.filmes_e_series {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.filmes_e_series h3 {
   color: rgb(42, 122, 228);
   font-size: 32px;
   gap: 25px
}
.div_filmes_e_series {
    display: flex;
    overflow-x: auto;
    gap: 10px;

}
.div_filmes_e_series img {
    opacity: 0.5;
    height: 200px;
}

.div_filmes_e_series img:hover {
opacity: 1;
border: 1px solid green;
}